*{
margin:0px;
padding:0px;
}
img{border:0px;}
html{
width:100%;
height:100%;
background-color:#6B7887
}
body{
width:1900px;
height:1200px;
margin:0 auto;
padding:0 0;
background-color:#FFFFFF;
position:relative;
}
html > body{
min-height:100%;
height:auto;
}
#header{
width:1900px;
height:130px;
font-family:Tahoma;
font-size:11px;
color:#6A6A6A
}
.logo{
margin:0 100px 0 0;
float:left
}
.profPic{	
margin:0 0 0 1406px;
}
#header span{
display:block;
float:left;
line-height:20px;
padding:0 10px 0 0
}
#header div{
line-height:20px;
padding:42px 0 0 0
}
#select{
width:100px;
height:18px;
float:left;
font-size:11px;
/ font-size:9px;
margin:0 23px 0 0;
border:2px inset #808080
}
#header div img{
padding:1px;
border:1px solid #fff;
float:left;
margin:3px 2px 0 0
}
#header .active, #header div img:hover{
border:1px solid #828282
}
#account{
display:block;
float:left;
color:#D3D0C7;
margin:0 0 0 12px;
font-size:14px;
}
#account a{
font-family:Tahoma;
font-size:11px;
color:#6A6A6A;
text-decoration:none;
margin:0 8px;
}

#menu{
width:1900px;
height:36px;
line-height:36px;
padding:0 0 0 0;
background-image:url(images/menu_bg.gif);
background-position:top left;
background-repeat:repeat-x;
float:left;
}
#menu li{
display:inline;
list-style-type:none
}
#menu a{
font-family:Tahoma;
font-size:11px;
color:#D2DEEC;
text-decoration:none;
margin:0 15px;
}
#menu user{
font-family:Tahoma;
font-size:14px;
color:#D2DEEC;
text-decoration:none;
margin:0 0 0 725px;
}
#menu user2{
font-family:Tahoma;
font-size:14px;
color:#D2DEEC;
text-decoration:none;
margin:0 0 0 30px;
}
#wrapper{
width:1900px;
height:900px;
overflow:hidden;
padding:0 0 0 0;
background-image:url(images/bg.jpg);
background-position:top left;
background-repeat:no-repeat
}
#wrapper2{
width:1900px;
height:900px;
overflow:hidden;
padding:0 0 0 0;
background-image:url(images/hotelBack.jpg);
background-position:top left;
background-repeat:no-repeat
}
#wrapper3{
width:1900px;
height:900px;
overflow:hidden;
padding:0 0 0 0;
background-image:url(images/tour.jpg);
background-position:top left;
background-repeat:no-repeat
}
#wrapper4{
width:1900px;
height:900px;
overflow:hidden;
padding:0 0 0 0;
background-image:url(images/tra_.jpg);
background-position:top left;
background-repeat:no-repeat
}
#wrapper5{
width:1900px;
height:900px;
overflow:hidden;
padding:0 0 0 0;
background-image:url(images/cam.jpg);
background-position:top left;
background-repeat:no-repeat
}
.Words
{
	
font-family:Tahoma;
font-size:20px;
color:#FFD700;
font-weight:normal;
text-transform:uppercase;
display:block;
width:110px;
height:37px;
line-height:41px;
padding:0 0 7px 850px;
background-position:top left;
background-repeat:no-repeat
	
}
.Words1
{
	
font-family:Tahoma;
font-size:14px;
color:#FFD700;
line-height:41px;
margin: 0 0 0 15px;


	
}
.WordsTs1
{
	
font-family:Tahoma;
font-size:20px;
color:#00000;
line-height:41px;
margin: 0 0 0 15px;


	
}

.Words2
{
	
color:#00000;
font-weight:normal;
padding:25px 0 0 0;

	
}
.Words3
{
font-family:Tahoma;
font-size:18px;
color:#00FF00;
font-weight:normal;
margin:0 0 0 0;

	
}
.Words4
{
font-family:Tahoma;
font-size:18px;
color:#00FF00;
font-weight:normal;
margin:0 0 0 40px;

	
}
.Words5
{
font-family:Tahoma;
font-size:18px;
color:#00FF00;
font-weight:normal;
margin:0 0 0 60px;

	
}
.WordsT
{
	
font-family:Tahoma;
font-size:18px;
color:#DC143C;
line-height:41px;
Padding: 0 0 0 900px;


	
}
.WordsT2
{
	
font-family:Tahoma;
font-size:15px;
color:#DC143C;
line-height:41px;
margin: 0 0 0 0;


	
}
#left{
float:left;
width:455px;
}
.column{
width:134px;
float:left;
margin:0 7px 0 0;
background-image:url(images/bg_c.gif);
background-position:top left;
background-repeat:repeat-y;
}
.column div{
width:134px;
background-image:url(images/bg_c_b.gif);
background-position:bottom left;
background-repeat:no-repeat;
}
.column h4{
font-family:Tahoma;
font-size:11px;
color:#ECFEE2;
font-weight:normal;
text-transform:uppercase;
display:block;
width:110px;
height:37px;
line-height:41px;
padding:0 0 7px 25px;
background-position:top left;
background-repeat:no-repeat
}
.column .title1{background-image:url(images/title1_bg.gif);}
.column .title2{background-image:url(images/title2_bg.gif);}
.column .title3{background-image:url(images/title3_bg.gif);}
.c2{
margin-top:33px
}
.c3{
margin-top:67px
}

#left .pic{
border:1px solid #fff;
width:108px;
margin:0 auto 6px auto;
}
.pic span{
display:block;
background-color:#303C4A;
line-height:18px;
width:108px;
}
.pic span a{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#FDFCF7;
text-decoration:none;
margin:0 0 0 5px
}

#search{
width:1900px;
height:39px;
float:left;
margin:50px 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
background-color:#FFFFE0;
color:#000000;
}
#HomeTema{
width:300px;
height:400px;
float:left;
margin:0 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
background-color:#FFFFE0;
color:#000000;
}

#searchCamp{
width:1900px;
height:39px;
float:left;
overflow:hidden;
margin:120px 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
background-color:#FFFFE0;
color:#000000;
}

#searchIns{
width:1580px;
height:60px;
float:left;
overflow:hidden;
margin:0 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
color:#000000;
}

#WordForm{
width:1670px;
height:40px;
float:left;
margin:0 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
background-color:#00FF00;
color:#000000;
}

.Button1
{
width:150px;
margin:0 0 0 120px;	

}
.Button2
{
width:180px;
margin:50px 0 0 20px;	

}
.Button3
{
width:180px;
margin:20px 0 0 20px;	

}
.style1{
padding:13px 5px
}
.style1 input{
width:350px;
height:17px;
font-size:11px;
border:1px inset #808080;
margin:0 35px 0 5px
}
.style2 input{
width:170px;
height:17px;
font-size:11px;
border:1px inset #808080;
margin:0 35px 0 0
}
.style3 {
width:120px;
height:17px;
font-size:14px;
margin:0 0 0 0
}
.style3 input{
width:180px;
height:17px;
font-size:14px;
margin:0 0 0 0
}
.select1{
width:95px;
font-size:11px;
height:18px;
/ font-size:9px;
border:1px inset #808080;
}
.select2{
width:95px;
font-size:11px;
height:18px;
/ font-size:9px;
border:1px inset #808080;
margin:0 57px 0 0;
/ margin:0 40px 0 0
}
.select3{
width:45px;
height:18px;
text-align:center;
/ font-size:9px;
font-size:10px;
font-weight:bold;
margin:1px 0;
border:1px inset #808080;
}
.select4{
width:185px;
font-size:11px;
height:18px;
/ font-size:9px;
border:1px inset #808080;
margin:0 57px 0 0;
/ margin:0 40px 0 0
}
.pad{
padding:0 130px 0 5px
}
.pad2{
padding:5px 10px;
}
.pad3{
padding:15px 0 0 0
}
.pad4{
padding:45px 0 25px 120px
}
.pad10{
margin:0 0 0 55px
}
.pad11{
margin:0 0 0 380px
}
.pad12{
padding:0 0 0 60px
}
.pad3 span{
display:block;
float:left;
width:60px;
font-size:11px;
}
}
.text{
padding:0 0 0 16px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
width:406px;
}
.text p{
padding:12px 0 12px 2px
}
#search2{
width:230px;
height:650px;
float:left;
margin:0 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
background-color:#FFFFE0;
color:#000000;
}
#search3{
width:230px;
height:250px;
float:left;
margin:0 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
background-color:#FFFFE0;
color:#000000;
}
#search4{
width:380px;
height:250px;
float:left;
margin:0 0 0 0;
padding:0 0 0 0;
background-repeat:no-repeat;
font-family:Tahoma;
font-size:18px;
background-color:#FFFFE0;
color:#000000;
}
#right{
float:left;
padding:300px 0 0 0;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
}
#right div{
width:460px;
}
#right div p{
display:block;
padding:8px 5px 25px 8px
}
#right .photo{
display:block;
float:left;
padding:14px 7px 5px 17px;
width:194px;
}
#right .photo a{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#2D2D2D;
text-decoration:underline;
line-height:24px;
margin:0 0 0 5px
}

#footer{
width:984px;
position:absolute;
bottom:0px;
height:71px;
border-top:8px solid #254A73;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#343434
}
#footer ul{
margin:15px 0 10px 0;
text-align:center
}
#footer li{
display:inline;
list-style-type:none;
}
#footer li a{
color:#343434;
text-decoration:none;
margin:0 5px
}
#footer li a:visited{text-decoration:none}
#footer li a:hover{text-decoration:underline}
#footer p{
text-align:center
}
#content{
width:958px;
overflow:hidden;
padding:12px 0 150px 24px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#333333;
}
#main{
width:675px;
float:left;
}
#gallery{
padding:14px 0 15px 0;
overflow:hidden;
float:left
}
#gallery img{float:left}
#gallery div{
float:left;
height:338px;
background-color:#191919;
width:180px;
padding:17px 0 0 16px;
position:relative
}
.about p{
width:462px;
padding:5px 0 5px 5px;
}
.about p a{
color:#009EDC;
text-decoration:underline
}
.about p a:visited{text-decoration:underline}
.about p a:hover{text-decoration:none}

#gallery div img{
margin:0 6px 6px 0
}
#banner{
float:right;
margin:0 5px 0 0
}
.inner_copy{
border:0;
color:#fff;
float:right;
height: 300px;
width:0.09%!important;
margin:-100px;
overflow:hidden;
line-height:0px;
padding:0px;
font-size:11px
}